{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="d-flex row justify-content-center align-items-center" style="min-height: 75vh;" >
    <div class="col-md-5">
        <div class="card shadow-sm border-1">
            <div class="card-body p-5">
                <h3 class="text-nav fw-bold text-center mb-4">
                    <i class="bi bi-box-arrow-in-right me-2"></i>
                    {% trans 'Register' %}
                </h3>
                
                <form method="POST">
                    {% csrf_token %}
                    {% include 'common/form.html' %}
                    
                    <button type="submit" class="btn btn-dark w-100 mt-4" style="background: linear-gradient(135deg, #0f2169ff 0%, #1888e4ff 100%); color: white; border: none;">
                        <i class="bi bi-check-circle me-1"></i>
                        {% trans 'Register' %}
                    </button>
                </form>
                
                <div class="text-center mt-3">
                    <small class="text-muted">
                        {% trans "have an account?" %}
                        <a href="{% url 'login' %}" class="text-nav fw-semibold">
                            {% trans 'Login' %}
                        </a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

